# Set region, instance label, and tag for compute instances

region="us-ord"
label="opnsense-ord"
tag="opnsense"


#Root Pass is only applicable to your imaging partition and not the OPNSense appliances
#RootPass MUST follow Linode policies or the instances will fail to create
#The root pass for OPNSense is L1n0d3 - Change this immediately!

root_pass="Y0ur$superSecureR00t"


# Select type: standard, dedicated

linode_type="dedicated"


# Add minimum memory spec in GB

memory=8


# Minimum number of vcpu for your instances

cpu=4


# Virtual disk size in GB (script will add 520MB for Alpine)

virtual_disk=10


# VLAN Configuration
# Add string label of your end user vlan (will be eth1)


network_id="opnsense-vlan"

# NOTE: Management VLAN will be created automatically as "mgmt" (eth2)
# Add RFC 1918 CIDR of your VLAN subnet in notation n.n.n.n/n

subnet_CIDR="172.16.100.0/25"


# Object Storage Configuration
# Add the name of the bucket your image files are in

bucket_name="test-ord"


# Active and Standby Image Files
# Full path to your active instance image file in the bucket

active="files/priv/opnsense_active.qcow2"


# Full path to your standby instance image file in the bucket

standby="files/priv/opnsense_standby.qcow2"


# What region is your bucket?  Works best if it's the same region as your compute

bucket_region="us-ord"


# Bucket access credentials
# Add read only keys for your bucket, if you don't have them yet, the script will attempt to make them

bucket_key="ABC123XYZ"
bucket_secret="ABC123XYZ"